<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @receiver.name %>
</p>

<p>
  <b>Phone number:</b>
  <%= @receiver.phone_number %>
</p>

<p>
  <b>Description:</b>
  <%= @receiver.description %>
</p>

<p>
  <b>Email:</b>
  <%= @receiver.email %>
</p>

<p>
  <b>Status:</b>
  <%= @receiver.status %>
</p>


<%= link_to 'Edit', edit_receiver_path(@receiver) %> |
<%= link_to 'Back', receivers_path %>
