<div class="grid_12">
  <h2>Send daily <strong>automatic</strong> text messages to help with weight loss</h2>
  <h2 style="color: #ff0000"><%= params['msg'] %></h2>
  <h4><strong>One Time</strong> Setup is as easy as 1 - 2 - 3</h4>
  <%= form_for :receiver, :url => save_receiver_data_url do |f| %>
    <%= f.error_messages %>
    <p>
      1.  Phone Number <%=f.text_field :phone_number %>
      and Name: <%=f.text_field :name %><br/>
      2. Select Time Zone: <%=time_zone_select( "receiver", "time_zone", ActiveSupport::TimeZone.us_zones, :default => "Pacific Time (US & Canada)") %> <br/>
      3. Choose messages and times
    </p>
  </div>
<div>
  <!-- grid_12 -->
  <div id="breakfastdiv">
    <table>
      <tr>
        <td></td><br/>
      <td></td>
      </tr>
      <tr>
        <th>
          Select
        </th>
        <th>
          Breakfast Message Text
          <%=f.select 'breakfast_time' , Message::BREAKFAST,{:prompt => 'Breakfast @7 AM or Change'} %>
        </th>
      </tr>
      <% for message in Message.find(:all, :conditions => ["category = ?",'Breakfast']) %>
        <tr>
          <td>
            <%= check_box_tag 'messages[]',message.id %>
          </td>
          <td>
            <%= message.msg_text %>
          </td>
        </tr>
      <% end %>
    </table>
  </div> <!-- breakfast grid -->
  <br/>
  <div id="lunchdiv" >
    <table>
      <tr>
        <th>
          Select
        </th>
        <th>
          Lunch Message Text
          <%=f.select 'lunch_time' , Message::LUNCH,{:prompt => 'Lunch @11 AM or Change'} %>
        </th>
      </tr>
    </table>
    <table>
      <% for message in Message.find(:all, :conditions => ["category = ?",'Lunch']) %>
        <tr>
          <td>
            <%= check_box_tag 'messages[]',message.id %>
          </td>
          <td>
            <%= message.msg_text %>
          </td>
        </tr>
      <% end %>
    </table>
  </div> <!-- lunch grid -->
  <br/>
  <div id="snackdiv" >
    <table>
      <tr>
        <th>
          Select
        </th>
        <th>
          Snack Message
          <%=f.select 'snack_time' , Message::SNACKS,{:prompt => 'Snack @2 PM or Change'} %>
        </th>
      </tr>
    </table>
    <% for message in Message.find(:all, :conditions => ["category = ?",'Snack']) %>
      <table>
        <tr>
          <td>
            <%= check_box_tag 'messages[]',message.id %>
          </td>
          <td>
            <%= message.msg_text %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
  <br/>
    <div id="snackdiv">
      <table class="hovertable">
        <tr>
          <th>
            Select
          </th>
          <th>
            Dinner Message
            <%=f.select 'dinner_time' , Message::DINNER,{:prompt => 'Dinner @5 PM or Change'} %>
          </th>
        </tr>
      </table>
      <table>
        <% for message in Message.find(:all, :conditions => ["category = ?",'Dinner']) %>
          <tr>
            <td>
              <%= check_box_tag 'messages[]',message.id %>
            </td>
            <td>
              <%= message.msg_text %>
            </td>
          </tr>
        <% end %>
      </table>
    </div> <!-- snack and dinner grid -->
    <%=submit_tag 'Get Started! - 10 days free, then $5/month', :class => "signup_button"%>
  </div>
<% end %>
</div>



